@page "/"

<PageTitle>Home Page</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form class="d-flex">
                <input class="form-control me-2 border-1 border focus-ring-none"
                    style="border-radius: 10px;" type="search" placeholder="Search" aria-label="Search">

                <button class="btn btn-outline-primary me-5 border-1"
                    style="border-radius: 10px" type="submit">Search
                </button>
                <a href="api/video/upload">
                    <img class="ms-5" style="width: 50%" src="https://img.icons8.com/?size=100&id=4c07dCRw2PVV&format=png&color=000000" alt="Add Icon" />
                    </a>
            </form>
        </div>
    </div>
</div>
